@font-face {
  font-family: 'Roboto_Light';
  src: url("../fonts/Roboto-Light.ttf"); }

body {
  font: 100% Helvetica, san-serif;
  color: #333 !important; }
  body .login-btn {
    width: 100%; }
  body .form-enter {
    margin-top: 50px; }
  body .dataTables_length label {
    width: 460px;
    float: left;
    text-align: left; }
  body .dataTables_length select {
    width: 75px; }
  body .dataTables_filter label {
    float: right;
    width: 460px; }
  body .dataTables_info {
    padding-top: 8px; }
  body .dataTables_paginate {
    float: right;
    margin: 0; }
  body table {
    margin: 1em 0;
    clear: both; }
  body input[type="search"] {
    height: 27px; }
  body .stat, body .start_place, body .finish_place {
    float: left; }
  body .priority label {
    text-align: left; }
  body .date {
    padding-left: 0; }
  body .location {
    margin-top: 50px; }
  body .admin {
    margin-top: 40px; }
  body .limit input {
    width: 50%;
    float: left; }
  body .limit button {
    margin-left: 20px;
    color: #fff; }
    body .limit button:hover {
      color: #fff; }
  body .add-poi button {
    width: 100%;
    color: #fff; }
    body .add-poi button:hover {
      color: #fff; }
    table td .date{
        float:left;
    }

<<<<<<< HEAD
  .fancy_form{
      display:none;
  }

=======
    table td a{
        margin-left: 20px;
    }
>>>>>>> remotes/yafarkin/rd_1/master
